
.projects-content {
	min-width: 100%;
	margin-top: 25px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;	
	box-shadow: 0px 0px 5px #bfbfbf;
}

.s-set {
	width: 100%;
	padding: 10px;
	background-color: #FFF;
}

.s-set:first-of-type {
	padding: 0px;
}

.project-img {
	position: relative;	
}

.project-img > img {
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 6px #d9d9d9,
				0px 0px 6px #d9d9d9,
				0px 0px 6px #d9d9d9;
}

.overlay {
	width: 100%;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: red;
	opacity: 0.7;
	overflow: hidden;
	transition: .3s ease;
}

.s-set:hover .overlay {
	height: 100%;
	transition: .3s ease;
}

.links {
	width: 100%;
	height: 0;
	position: absolute;
	top: calc(50% - 35px);
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 35px;
	overflow: hidden;
	transition: .3s ease;
	cursor: pointer;	
}
.links > a {
	opacity: 1;
	text-decoration: none;
	color: #FFFFFF;
	letter-spacing: 10px;
	outline: 0;
}
.s-set:hover .links {
  height: 100%;
  transition: .5s ease;

}

.project-skill {	
	list-style-type: square;
}


@media screen and (min-width: 991px) {

    .projects-content  {
		flex-wrap: nowrap !important;
	}
	.project-skill {	
		list-style-type: square;
	}


}


@media screen and (min-width: 751px) and (max-width: 990px) {

	.projects-content {
		flex-wrap: wrap;
	}

	.project-img {
		width: 35% !important;
		height: 100%;
	}

	.project-desc {
		padding-left: 10px;
		width: 65% !important;

	}

	.project-tech {
		text-align: right;
		width: 100%;
	}

	.project-skill {
		display: inline-block;
		margin-left: 20px;
		list-style-type: none;
	}

}