* {
  box-sizing: border-box;
}

html {
height: 100%;
}

body {
margin: 0;
padding: 0;
}

#root {
  height: 100vh;
	margin: 0 15% 0 15%;
  padding: 0;
  background-color: coral;
}

.fontSource {
  font-family: 'Source Sans Pro', 'sans-serif';
}

/* -------- HEADER COMPONENT -------- */
.header {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.portLogo {
  width: 100px;
  margin: auto;
}

#logoImg {
	width:100%;
}

.header-color {
  margin-top: 10px;
  width: 100%;
	background: linear-gradient(to left, #47e5bc 29%, #ffffff 102%);
}

.name-title {
  text-align: center;
}

/* --------- MENU COMPONENT --------- */

.line {
  display: none;
}

.navs {
  margin-top: 15px;
  list-style: none;
	text-align: center;
	padding: 0;
}

.nav-links {
  padding-top: 10px;
  margin-left: 25px;
  font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 5px;
	cursor: pointer;
}

.nav-links:first-of-type {
  margin-left: 0px;
}

/* --------- CONTENT COMPONENT --------- */

.home-content {
  width:100%;
  margin:20px auto;
  padding: 0;
  font-size: 16px;
  justify-content: center;
	text-align: center;
	line-height: 25px;
	font-family: 'Merriweather', 'serif';
}


/* --------- ImageProfile COMPONENT ---------- */

.profile-img {
	width: 150px;
	height: 150px;
	border: 2px solid #47E5BC;
	margin:30px auto;
	border-radius: 50%;
	border-top-width: 5px;
	border-left-width: 5px;
}

/* ---------- Footer COMPONENT ---------- */

.footer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	background-color:  #223843;
	color:#FFFFFF;
}

.name-on-footer {
	width: 100%;
	font-size: 24px;
	text-align: center;
}

.footer-address {
	width: 100%;
	text-align: center;
	line-height: 1.5px;
	padding: 10px;
}

.name-on-footer > span:first-of-type {
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
	color: red;
}

.social {
  	width: 100%;
	margin:0 auto 0 auto;
	text-align: center;
}

.social > a {
	text-decoration: none;
	color: rgb(252, 249, 249);
	font-size: 25px;
	margin-left: 25px;
}

.social > a:first-of-type {
	margin-left: 0px;
}

.social > a:hover {
	color:#47e5bc;
}
