* {
  box-sizing: border-box;
}

html {
height: 100%;
}

body, #root {
	margin: 0;
	padding: 0;
}

.main-app {
	min-height: 100%;
}
.wrapper {
	min-height: calc(100vh - 70px);
}

.fontSource {
  font-family: 'Source Sans Pro', 'sans-serif';
}


/* --------- CONTENT COMPONENT --------- */

.home-content {
  	width: 100%;
  	margin: 20px auto;
 	padding: 0;
  	font-size: 16px;
  	justify-content: center;
  	text-align: center;
	line-height: 25px;
	font-family: 'Merriweather', 'serif';
}

.fadeAnimation {
	-webkit-animation-duration: 10s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
 }
 
 .fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
 }


/* --------- ImageProfile COMPONENT ---------- */

.profile-img {
	width: 150px;
	height: 150px;
	border: 2px solid #47E5BC;
	margin:30px auto;
	border-radius: 50%;
	border-top-width: 5px;
	border-left-width: 5px;
}

@media screen and (min-width: 991px) {

	#root {
		margin: 0 15% 0 15% !important;
	}

	.home-content {
		width: 50% !important;
		margin-top: 25px 10px 0px 10px;
	}

}